profiles {
    lewis {
        process {
            executor = 'local'
            queue = 'BioCompute'
            time = '2d'
            memory = '125 GB'
            cpus = 36
            container = 'docker://quay.io/comparative-genomics-toolkit/cactus:v2.8.4'
            withName: 'CACTUS_GRAPHMAP_JOIN|VG_REFERENCE' {
                publishDir = [ path: 'out/', mode: 'copy' ]
            }
        }
        
//        process {
//           executor = 'slurm'
//            queue = 'BioCompute'
//            time = '2d'
//            memory = '125 GB'
//            clusterOptions = "-A lp_big_wice_cpu -p dedicated_big_bigmem --cluster==wice"
//            cpus = 13
//            container = 'docker://quay.io/comparative-genomics-toolkit/cactus:v2.8.4'
//
//            withName: 'CACTUS_GRAPHMAP_JOIN|VG_REFERENCE' {
//                publishDir = [ path: 'out/', mode: 'copy' ]
//            }
//        }

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = "/data/leuven/software/biomed/singularity_images/images_jonas/"
            runOptions = '--cleanenv -H $PWD -B /lustre1,/staging,/data,${VSC_SCRATCH},${TMPDIR},${VSC_SCRATCH}/tmp:/tmp'
        }

        params {
            scratch = '${VSC_SCRATCH}'
        }
    }
}

manifest {
    defaultBranch = 'main'
    homePage = 'https://github.com/jdemeul/minigraph-cactus-nf'
    author = 'Edward S. Rice'
}
